fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

input:focus {
  box-shadow: 4px 4px 0 darken($base-accent-color, 10%);
  outline: none;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 4;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

}

textarea {
  border: none;
  resize: vertical;
  margin: em(10) 0 em(30);
  padding: em(10);
  font-size: 1em;
}

textarea:focus {
  box-shadow: 4px 4px 0 darken($base-accent-color, 10%);
  outline: none;
}

input[type="text"] {
  border: 0 inset;
  height: em(40);
  padding: em(5) em(10);
}

input[type="search"] {
  @include appearance(none);
}

input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
