// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.2;
$h2-font-size: $base-font-size * 1.6;
$h3-font-size: $base-font-size * 1.3;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size * 1.15;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 3.5em;
$secondary-spacing: $base-line-height * 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$teal: #3cc9ae;
$pink: #ff7875;
$dark-pink: #f95652;
$light-gray: #efefef;
$dark-gray: #434343;
$white: #fff;

// Font Colors
$base-accent-color: $teal;
$base-dark-accent-color: shade($teal, 20%);
$base-font-color: $dark-gray;
$action-color: $pink;

// Border
$base-border-color: $white;
$base-border: 1px solid $base-border-color;

// Custom underline

@mixin underline {
  border-bottom: 1px solid $white;
  color: $white;
  display: inline-block;
  line-height: 0.82em;
  margin: 0.2em auto;

  &:hover {
    border-bottom: 1px solid $action-color;
    color: $action-color;
  }
}

@mixin underline-descender {
  text-shadow: /* stroke around*/
    0 0 1px $teal,
    0 0 1px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 0 2px $teal,
    0 -5px 0 $teal, /* clear vertically*/
    0 -1px 0 $teal,
    0 -2px 0 $teal,
    0 -2px 0 $teal,
    0 -4px 0 $teal,
    0 -5px 0 $teal,
    0 -6px 0 $teal
    ;
}
