.compliment-page {
  background-color: $base-accent-color;
  height: 100vh;
}

.send {
  @include secondary-button;

  @include media($medium-screen-up) {
    margin: 0 em(5) em(15);
  }

  &-icon {
    background: image-url("twitter-icon.png");
    background-repeat: no-repeat;
    background-size: em(19);
    display: inline-block;
    height: em(15);
    margin-left: em(10);
    width: em(20);
  }
}

.compliment {
  color: $white;
  margin-top: 15%;
  text-align: center;

  &-refresh {
    text-align: center;

    a {
      border-bottom: 1px solid $white;
      color: $white;
      display: inline-block;
      line-height: 0.97em;
      margin: 0.2em auto;
      opacity: 0.8;
      text-shadow: /* stroke around*/
        0 0 1px $teal,
        0 0 1px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 -5px 0 $teal, /* clear vertically*/
        0 -1px 0 $teal,
        0 -2px 0 $teal,
        0 -2px 0 $teal,
        0 -4px 0 $teal,
        0 -5px 0 $teal,
        0 -6px 0 $teal
        ;

      &:hover {
        border-bottom: 1px solid $white;
        opacity: 1;
      }
    }
  }
}

.compliment-cta {
  margin-top: 16%;
  text-align: center;

  &-button {
    @include main-button;
    // margin-bottom: em(15);
    margin: 0 em(5) em(15);
  }
}
