.compliment-page {
  background-color: $base-accent-color;
  height: 100vh;
}

.send {
  @include secondary-button;

  @include media($medium-screen-up) {
    margin: 0 em(5) em(15);
  }

  &-icon {
    background: image-url("twitter-icon.png");
    background-repeat: no-repeat;
    background-size: em(19);
    display: inline-block;
    height: em(15);
    margin-left: em(10);
    width: em(20);
  }
}

.compliment {
  color: $white;
  margin-top: 15%;
  text-align: center;

  &-refresh {
    text-align: center;

    a {
      @include underline;
      @include underline-descender;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.compliment-cta {
  margin-top: 16%;
  text-align: center;

  &-button {
    @include main-button;
    // margin-bottom: em(15);
    margin: 0 em(5) em(15);
  }
}
