.details-hero {
  background-color: $white;
  text-align: center;

  &-title {
    margin-bottom: em(5);
  }

  &-compliment {
    display: inline-block;

    &-refresh {
      display: inline-block;
      height: em(15);
      margin-left: em(10);
      position: absolute;
      width: em(15);

      @include media($medium-screen-up) {
        right: em(310);
        width: em(15);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transform: rotate(-360deg);
        transition-duration: 0.8s;
      }
    }
  }

  &-link {
    font-size: $base-font-size/1.3;
    font-style: italic;
    font-weight: 300;
    margin-bottom: $secondary-spacing;
  }

  &-text {
    @include span-columns (10 of 12);
    @include shift(1);

    @include media($medium-screen-up) {
      @include span-columns (6 of 12);
      @include shift(3);

      p {
        margin-bottom: em(30);
      }
    }
  }
}

.details-form {
  background-color: $base-accent-color;
  color: $white;

  &-title {
    text-align: center;
  }

  &-subtitle {
    text-align: center;
  }

  &-field {
    @include span-columns(12 of 12);

    @include media($medium-screen-up) {
      @include span-columns(6 of 12);
      @include shift(3);
    }

    &-half {
      @include span-columns(10 of 12);
      @include shift(1);

      @include media($medium-screen-up) {
        @include span-columns(3 of 6);
        @include shift(0);

        display: inline-block;
      }
    }

    &-full {
      @include span-columns(10 of 12);
      @include shift(1);

      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
    }

    &-box {
      background-color: $white;
      border-radius: $base-border-radius;
      margin: 0 0 em(30);
      width: 100%;
    }
  }

  &-cta {
    @include main-button;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-right: em(5);
    margin-top: 0;
    padding-bottom: em(8);

    &:focus {
      box-shadow: none;
    }

    &-blank {
      @include secondary-button;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-top: em(10);
      padding-bottom: em(8);

      &:focus {
        box-shadow: none;
      }

      @include media(medium-screen-up) {
        margin-left: em(5);
        margin-top: 0;
      }
    }
  }
}
