.family {
  background-color: $white;
  border-radius: $base-border-radius;
  margin-left: 2.5%;
  padding: em(20);
  width: 95%;
  font-size: 14px;

  @include media($medium-screen-up) {
    @include span-columns(10 of 12);
    @include shift(1);

    font-size: $base-font-size;
    padding: em(90);
  }

  &-section-one {

    &-content {

      @include media($medium-screen-up) {
        @include span-columns(6.8 of 10);

        margin-left: em(10);
      }
    }

    &-image {

      background: image-url("julian-michelle.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      height: em(200);
      margin-bottom: em(30);

      @include media($medium-screen-up) {
        @include span-columns(3 of 10);

        background-size: 100%;
        display: inline-block;
        height: em(120);
        margin-bottom: 0;
      }
    }
  }

  &-section-two-image {
    background: image-url("sf-move.png");
    background-repeat: no-repeat;
    background-size: em(260);
    display: block;
    height: em(110);
    margin: 0 auto;
    width: em(260);

    @include media($medium-screen-up) {
      background-size: em(460);
      height: em(162);
      margin-bottom: em(80);
      margin-top: em(60);
      width: em(460);
    }
  }

  &-content {

    &-text {
      font-size: em(18);
      font-weight: 300;
      line-height: em(30);
      padding-bottom: $small-spacing/2;

      &-secondary {
        @include span-columns(8 of 12);

        font-weight: 300;
        padding-bottom: $small-spacing/2;
      }
    }

    &-cta {
      @include main-button;
    }
  }

  &-section-two {
    @include span-columns(12);
  }
}

.highlight {
  display: inline-block;
  font-weight: 500;

  &-color {
    color: $base-accent-color;
  }

  &-centered {
    text-align: center;
  }
}

.michelle {
  display: inline-block;
  height: em(25);
  margin: 0 em(7) em(-6);

  &:hover {
    transform: rotate(17deg);
  }
}

.julian {
  display: inline-block;
  height: em(25);
  margin: 0 em(4) em(-6);

  &:hover {
    transform: rotate(-17deg);
  }
}

.family-section-three-image {
  @include span-columns(10 of 10);
  background: image-url("faces.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: em(350);

  @include media($medium-screen-up) {
    @include span-columns(3 of 10);

    background-size: 100%;
    display: inline-block;
    height: em(210);
    margin-top: em(40);
  }
}

.family-names {
  background-color: tint($light-gray, 60);
  border-radius: $base-border-radius;
  margin: em(10) em(0) em(30);
  padding: em(20) 0;
  text-align: center;

  @include media($medium-screen-up) {
    margin: em(10) em(80) em(30);
    padding: em(20) 0;
  }
}

.family-names-item {
  color: tint($base-font-color, 40);
  font-family: "Courier";
  font-size: em(12);
  height: em(25);
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;

  @include media($medium-screen-up) {
    font-size: em(20);
  }
}

.family-names-item:nth-child(1) {
  animation: type 9s steps(37, end);
  animation-delay: 2s;
  animation-iteration-count: infinite;
  border-right: 1px solid $base-font-color;
  margin-bottom: em(10);
  width: em(365);

  @include media($medium-screen-up) {
    width: em(380);
  }
}

.family-names-item:nth-child(2) {
  animation: type-b 8s steps(32, end);
  animation-delay: 4s;
  animation-iteration-count: infinite;
  border-right: 1px solid $base-font-color;
  width: em(320);
}


.family-names-cursor {
  animation: blink 1s infinite;
  display: inline-block;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type-b {
  0% {
    width: 0;
  }

  25% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

