.global-footer {
  background-color: $base-dark-accent-color;
  bottom: 0;
  color: $white;
  display: block;
  font-weight: 300;
  height: em(70);
  padding: 4em 0;
  width: 100%;
}

.footer-content {
  text-align: center;

  a {
    color: $white;
    @include underline;
  }
}

.color-palette {

  @include media($medium-screen-up) {
    background-image: url("color-palette-footer.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 25%;
    margin: em(15) auto 0;
  }
}
