.hero {
  background-color: $white;
  padding-top: em(50);

  &-title {
    background: image-url("projectgiveback.png");
    background-repeat: no-repeat;
    background-size: em(140);
    color: $dark-gray;
    display: block;
    height: em(45);
    margin-bottom: em(5);
    margin: em(25) auto 0;
    text-align: center;
    width: em(140);

    @include media($medium-screen-up) {
      background-size: em(240);
      height: em(45);
      margin: 0 auto;
      width: em(240);
    }
  }

  &-subtitle {
    font-style: italic;
    font-weight: 300;
    margin-top: em(5);
    text-align: center;
  }

  &-main-text {
    @include span-columns(8 of 12);
    @include shift(2);

    padding: 0 0 em(50);
    text-align: center;
  }

}

.organization {
  background-color: $base-accent-color;
  display: block;

  &-title {
    color: $white;
    text-align: center;
  }

  &-subtitle {
    color: $white;
    font-weight: 400;
    padding-bottom: 1em;
    text-align: center;

    a {
      border-bottom: 1px solid $white;
      color: $white;
      display: inline-block;
      line-height: 0.97em;
      margin: 0.2em auto;
      text-shadow: /* stroke around*/
        0 0 1px $teal,
        0 0 1px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 0 2px $teal,
        0 -5px 0 $teal, /* clear vertically*/
        0 -1px 0 $teal,
        0 -2px 0 $teal,
        0 -2px 0 $teal,
        0 -4px 0 $teal,
        0 -5px 0 $teal,
        0 -6px 0 $teal
        ;

      &:hover {
        border-bottom: 1px solid $action-color;
        color: $action-color;
      }
    }
  }

  &-card {
    @include span-columns(10 of 12);
    @include shift(1);

    background-color: $white;
    border-bottom: em(3) solid shade($white, 10%);
    border-radius: $base-border-radius;
    float: none;
    margin-bottom: $secondary-spacing;
    padding: em(25);

    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      @include shift(4);

      float: none;
    }

    &-title {
      margin: 0 0 em(15);
    }

    &-text {
      font-weight: 300;
    }

    &-cta {
      @include main-button;
    }
  }
}
