.hero {
  background-color: $white;

  &-content {
    text-align: left;
    margin-top: 2.5rem;

    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(1);
    }

  }

  &-image {
    display: none;

    @include media($medium-screen-up) {
      float: left;
      width: 145px;
      margin-left: 10%;
      margin-top: 0;
      display: block;
    }
  }

  &-title {
    background: image-url("projectgiveback.png");
    background-repeat: no-repeat;
    background-size: em(140);
    color: $dark-gray;
    //display: block;
    height: em(30);
    margin-bottom: em(5);
    margin: 0 auto;
    width: em(140);

    @include media($medium-screen-up) {
      background-size: em(240);
      height: em(45);
      margin: 0 auto;
      width: em(240);
    }
  }

  &-main-text {
    padding: 0 1rem em(50);
    margin-top: 0;
    text-size: 1.25em;
    text-align: center;

    @include media($medium-screen-up) {
      padding: 0 0 em(50);
    }

  }

  &-cta {
    @include main-button;
    margin-right: 1rem;
    margin-top: 0;

    @include media($medium-screen-up) {
      margin-top: 1.25rem;
    }
  }

}

.organization {
  background-color: $base-accent-color;
  display: block;
  padding: 3rem 0;

  @include media($medium-screen-up) {
    padding: 5rem 0;
  }

  &-title {
    color: $white;
    text-align: center;
    font-size: 1.5em;
  }

  &-subtitle {
    color: $white;
    font-weight: 400;
    padding-bottom: 1em;
    text-align: center;

    a {
      @include underline;
      @include underline-descender;
    }
  }

  &-card {
    background-color: $white;
    border-bottom: em(3) solid shade($white, 10%);
    border-radius: $base-border-radius;
    margin-bottom: 1.5em;
    padding: em(25);

    @include media($medium-screen-up) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    &-title {
      margin: 0 0 em(15);
      font-weight: 500;
    }

    &-text {
      font-weight: 300;
    }

    &-cta {
      @include main-button;
    }
  }

  &-missed {
    @include span-columns(10 of 12);
    @include shift(1);

    color: $white;
    float: none;
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(4 of 12);
      @include shift(4);

      color: $white;
      float: none;
    }

    a {
      @include underline;

      &:hover {
        border-bottom: 1px solid $action-color;
        color: $action-color;
      }
    }
  }
}

.featured-content {
  background: $light-gray;
  border-radius: $base-border-radius;
  font-size: 12px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
}

.featured-content-tag {
  background: shade($base-dark-accent-color, 20%);
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 11px;
  line-height: 17px;
  margin-left: 190px;
  margin-top: -42px;
  padding: 2px 7px;
  position: absolute;
}

.featured-progress-bar {
  background: $light-gray;
  border-left: 10px solid shade($base-dark-accent-color, 20%);
  border-radius: 5px;
  height: 6px;
  margin-bottom: 35px;

  &-current, &-goal {
    color: shade($base-dark-accent-color, 20%);
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
  }

  &-current {
    float: left;
  }

  &-goal {
    float: right;
  }
}
